:root{
    --clr-black: #080808;
    --clr-black2: #08080899;
    --clr-black3: #080808CC;
    --clr-primary: #ffb646;
    --clr-primary2: #ff9432;
    --clr-bg:#ffe9d9;
    --clr-white:#FFF;
    --clr-white2:#F5F5F5;
}